/* General Styles */
body {
  min-height: 100vh;
  overflow: auto;
  background: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #111;
}

header {
  margin: 2em auto 2.5em auto;
}

h1 {
  margin: 0;
  font-family: 'Amatic SC', serif;
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

h3 {
  font-style: italic;
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h2,
h3 {
  font-family: 'Raleway', sans-serif;
  color: #333;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}

a,
a:visited {
  color: #3DB3AC;
}

a:active,
a:hover {
  color: #333;
}

@media (min-width: 650px) {
  h1 {
    font-size: 5em;
  }
}

@media (min-width: 920px) {
  h1 {
    font-size: 8em;
  }
}

p {
  font-weight: 100;
}

/* TODO: add media styles + loading state*/

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.left-hand {
  margin: 0;
  padding: 0;
  min-width: 50%;
}

.right-hand {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 50%;
  background: #fff;
}

/* Form Styles */
.form-container {
  margin: 0 auto;
  padding: 1.3em 1.75em;
  max-width: 400px;
  border-radius: 0.5em;
  background: #fff;
  text-align: left;
}

.form-section {
  margin-bottom: 1em;
}

.form-section .form-section__evenly-spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form label {
  margin-bottom: 0.3em;
  font-size: 0.8em;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

input, option {
  padding: 0.7em;
  background: #fff;
}

input, select {
  border-width: 1px;
  border-style: solid;
  border-color: #dfdfdf;
}

input {
  font-size: 0.9em;
}

input::placeholder {
  color: #333;
  font-size: 0.95em;
}

select {
  display: block;
  padding: 0.7em 0.4em;
  font-size: 0.9em;
}

.form-field {
  margin-top: 0.25em;
  width: 100%;
  border-radius: 0.25em;
  box-sizing: border-box;
}

.form-section__evenly-spaced .form-field {
  width: 48%;
}

#compare {
  display: block;
  margin: 1.75em auto 1.2em auto;
  padding: 0.8em;
  border: 1px solid #3DB3AC;
  border-radius: 5em;
  width: 100%;
  background: #3DB3AC;
  font-weight: bold;
  text-align: center;
  color: #fff;
  transition: 0.3s ease all;
}

#compare:hover {
  background: #fff;
  color: #3DB3AC;
  cursor: pointer;
}

#compare:disabled {
  border-color: #ddd;
  background: #ddd;
}

#compare:disabled:hover {
  border-color: #ccc;
  background: #ccc;
  color: #fff;
}

/* Art direction styles */
#art-direction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff url(images/tracks.png) center center repeat-y;
  background-size: contain;
}

#art-direction img {
  height: 250px;
  width: auto;
}

/* Grid Styles */
#grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.grid-item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.grid-item:nth-child(1) {
  background: #009687f5;
}

.grid-item:nth-child(2) {
  background: #dc7657f5;
}

.grid-item:nth-child(3) {
  background: #4bb3c1fa;
}

.grid-item:nth-child(4) {
  background: #fac069f9;
}

.grid-item:nth-child(5) {
  background: #67a866f9;
}

.grid-item:nth-child(6) {
  background: #b94169fa;
}

.grid-item:nth-child(7) {
  background: #7f62b3fa;
}

.grid-item:nth-child(8) {
  background: #9fc376f9;
}

.grid-item:nth-child(9) {
  background: #677bcbfa;
}

@media (min-width: 550px) {
  #grid div {
    width: calc(100% / 3);
  }
}

.grid-item h3 {
  font-size: 2em;
  color: #eee;
}

.grid-item img {
  padding-bottom: 1em;
  max-width: 100%;
}

.grid-item p {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0.8em 0.8em 1.8em;
  background: rgba(000, 000, 000, .3);
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2em;
  font-weight: 600;
  color: #fff;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0;
  padding: 0.75em;
  width: 100%;
  background: #fff;
  font-size: 0.7em;
}

footer p {
  margin: 0.5em;
  font-weight: bold;
}

.fine-print {
  color: #888;
  font-weight: normal;
}
